<% include header %>
<% include nav %>



<% include slider  %>
<div id="page">
    <div id="content">
        <div class="box">
            <h2>About Us</h2>
       
        
            
        </div>
    
        <br class="clearfix" />
        
        
    </div>
    

    <div id="sidebar">
        <div class="box">
            <h3>Social Links..</h3>
            <ul class="list">
                <li class="first"><a href="#"><img src='./images/google.png' height="40" width='40' /></a></li>
                <li ><a href="#"><img src='./images/twitter.jpg' height="40" width='40' /></a></li>
                <li><a href="#"><img src='./images/insta.jpg' height="55" width='55' /></a></li>
                <li><a href="#"><img src='./images/fb.png' height="60" width='60' /></a></li>
                <!--<li class="last"><a href="#">Ante semper fringilla</a></li>-->
            </ul>
        </div>


    </div>
    <br class="clearfix" />
</div>


<% include  footer %>