<div id="menu">
    <ul>
        <li class="first"><a href="/admin"> Admin Home</a></li>
            
            

        <li>
            <span class="opener"><a href="">Category</a><b></b></span>
            <ul>
                <li><a href="/admin/addcategory">Add Category</a></li>
                <li><a href="/admin/managecategory">Manage Category</a></li>
                <li><a href="/admin/addsubcategory">Add SubCategory</a></li>
                <li><a href="/admin/managesubcat">Manage SubCategory</a></li>
               
            </ul>
            </li>
           <li>
            <span class="opener"><a href="">Post</a><b></b></span>
            <ul>
                <li><a href="/admin/managepost">Manage</a></li>
                </ul>
                </li>
                <li><a href="/admin/usersinfo">Users Info</a></li>
<li>
                <span class="opener"><a href="">Other Services</a><b></b></span>
            <ul>
                <li><a href="/admin/changepass">Change Password</a></li>
                </ul>
                </li>

        <li><a href="/logout">Logout</a></li>
    </ul>
    <br class="clearfix" />
</div>
