<% include header %>
    <% include nav %>
 <% include slider  %>
        <style>

        #log {
            border-radius: 5px;
            background-color: #FFDD9D;
            padding: 20px;
        }

        input[type=text], select,password {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    background-color: #FF7A59;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
float:left;
}


input[type=submit]:hover {
    background-color:rgb(73, 116, 211);
}

    </style>

            <div id="page">
                <div id="content">
                    <div class="box">
                        <h2>Login here..</h2>
                        <p><%= Result %></p>
                        <div id='log'>
                        <form action="/login" method="POST">
                            <table >
                                
                                   
                                <tr>
                                    <td> <b>Email</b></td>
                                    <td>
                                        <input type="text" name="email" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b> Password</b></td>
                                    <td>
                                        <input type="text" name='pass'  required>
                                    </td>
                                
                                </tr>
                            
                                
                                
                                
                    <tr>
                        <td>
                            <input type="submit" name='sub' value="Login">
                        </td>
                    </tr>
                
            


               </table>
           </form>
        </div>
        
       
    </div>
    
    <br class="clearfix" />
    
    
</div>


<div id="sidebar">
    <div class="box">
        <h3>Social Links..</h3>
        <ul class="list">
            <li class="first"><a href="#"><img src='./images/google.png' height="40" width='40' /></a></li>
            <li ><a href="#"><img src='./images/twitter.jpg' height="40" width='40' /></a></li>
            <li><a href="#"><img src='./images/insta.jpg' height="55" width='55' /></a></li>
            <li><a href="#"><img src='./images/fb.png' height="60" width='60' /></a></li>
            <!--<li class="last"><a href="#">Ante semper fringilla</a></li>-->
        </ul>
    </div>


</div>
<br class="clearfix" />
</div>


<% include  footer %>