<style>
button {
    background-color:white;
    color:#209D9D;
    border: 2px solid white;
	margin-left: 60px;
	width:100px;
	height:30px;
	border-radius: 18px;
	cursor: pointer;
	font-size: 18px;
	
}
button:hover {
    background-color:#209D9D; /* Green */
    color:white;
}
</style>


<div id="menu">
		<ul>
			<li class="first"><a href="/home">
				<span class="opener">Home</a><b></b></span>
				<!--<ul>
					<li><a href="#">Lorem Ipsum</a></li>
					<li><a href="#">Consequat Dolor</a></li>
					<li><a href="#">Magna Feugiat</a></li>
					<li>
						<span>Sed Tempus<b></b></span>
						<ul>
							<li><a href="#">Lorem Ipsum</a></li>
							<li><a href="#">Consequat Dolor</a></li>
							<li><a href="#">Magna Feugiat</a></li>
							<li><a href="#">Sed Tempus</a></li>
							<li><a href="#">Etiam Nullam</a></li>
							<li><a href="#">Amet Phasellus</a></li>
						</ul>
					</li>
					<li><a href="#">Etiam Nullam</a></li>
					<li><a href="#">Amet Phasellus</a></li>
				</ul>
			</li>-->

			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li>
				<span class="opener"><a href="/services">Services</a><b></b></span>
				<ul>
					<li><a href="">option</a></li>
					<li><a href="#">events</a></li>
					<!--<li><a href="#">Magna Feugiat</a></li>
					<li>
						<span>Sed Tempus<b></b></span>
						<ul>
							<li><a href="#">Lorem Ipsum</a></li>
							<li><a href="#">Consequat Dolor</a></li>
							<li><a href="#">Magna Feugiat</a></li>
							<li><a href="#">Sed Tempus</a></li>
							<li><a href="#">Etiam Nullam</a></li>
							<li><a href="#">Amet Phasellus</a></li>
						</ul>
					</li>
					<li><a href="#">Etiam Nullam</a></li>
					<li><a href="#">Amet Phasellus</a></li>-->
				</ul>
			</li>
			<li><a href="/login">Login</a></li>
			<li class="last"><a href="/register">Register</a></li>
			<li><a href="/addpost"><button style='color:rgb(182,128,27);'>Add Post</button></a></li>
		</ul>
		<br class="clearfix" />
	</div>
