<html>

<head>
        <script src="jquery-3.3.1.js"></script>
    <script>
$(document).ready(function() {
    $.responsiveTables();    
}); 

</script>

</head>

<table style="text-align: center" border="2" cellspacing="2">
    <tr>
        <th>REgid</th>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
        <th>Phoneno.</th>
        <th>City</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>
    </table>
    </html>