<div id="menu">
    <ul>
        <li class="first"><a href="/users"> User Home</a></li>
            
            

        <li>
            <span class="opener"><a href="">Post</a><b></b></span>
            <ul>
                <li><a href="/users/raddpost">Add Post</a></li>
                <li><a href="#">Manage Post</a></li>
                
            </ul>
            </li>
           
<li>
                <span class="opener"><a href="">Other Services</a><b></b></span>
            <ul>
                    <li><a href="/users/updateprofile">Manage Profile</a></li>
                <li><a href="/users/changepass">Change Password</a></li>
                </ul>
                </li>
                <li><a href="">Notifications</a></li>

        <li><a href="/login">Logout</a></li>
    </ul>
    <br class="clearfix" />
</div>
